<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Compromissos</title>
     <!-- Carregar o script do frontend -->
     <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- CABEÇALHO -->
    <header>

        <h1>BELLA CASA</h1>
        <a href="/index">Início</a>
        <a href="/produtos">Produtos</a>
        <a href="/cadastrar">Cadastrar</a>

    </header>
    
    <form id="appointment-form">
        <input type="text" id="name" placeholder="Produto">
        <br>
        <input type="text" id="category" placeholder="Categoria">
        <br>
        <input type="text" id="price" placeholder="Preço">
        <br>
        <input type="text" id="stock" placeholder="Quantidade">
        <br>
        <textarea id="description" placeholder="Descrição do Produto"></textarea>

        <button type="submit">Adicionar</button>


    </form>
    
<!--
    <h2>Produtos</h2>
    <ul id="appointment-list"></ul>
    <script src="/index.js"></script>
-->
<script src="/index.js"></script>
    <footer>

    </footer>
</body>
</html>
