<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda de Compromissos</title>
     <!-- Carregar o script do frontend -->
     <link rel="stylesheet" href="index.css">
</head>
<body>
    <!-- CABEÇALHO -->
    <header>

        <h1>BELLA CASA</h1>
        <a href="/index">Início</a>
        <a href="/produtos">Produtos</a>
        <a href="/cadastrar">Cadastrar</a>

    </header>
    <div class="titulo-decorado">
        <span>PRATICIDADE & FUNCIONALIDADE</span>
    </div>

    <section class="sessao-wolf">
        
        <div class="wolf">
            <h2>Produtos Wolff</h2>
            <p>Com um legado centenário de admiração, a Wolff leva elegância e modernidade aos melhores momentos de celebração.<br>
            Uma linha completa de produtos que proporcionam requinte e conforto para sua casa.</p>
            <img src="imagens/wolff-drinkware005.webp" width="200" height="200" alt="taças de vinho">
            <img src="imagens/wolff_tableware_001-1.webp" width="200" height="200">
            <img src="imagens/wolff_tableware_005-1.webp" width="200" height="200">
            <img src="imagens/wolff_talheres_001-1.webp" width="200" height="200">
            <br>
            <img src="imagens/wolff_tableware_11-1.webp" width="200" height="200">
            <img src="imagens/wolff_muran_001-1.webp" width="200" height="200">
            <img src="imagens/wolff_decor_005-1.webp" width="200" height="200">
            <img src="imagens/wolff-panelas-001.webp" width="200" height="200">

        </div>

    </section>

    <section class="sessao-lyor">
        <div class="lyor">
            <h2>Produtos Lyor</h2>
            <p>De produtos para cozinha, decoração à organização de espaços, a Lyor busca sempre por produtos que tornam cada ambiente mais aconchegante e funcional.</p>
            <img src="imagens/lyor_decor_03.webp" width="200" height="200">
            <img src="imagens/lyor_paraservir_02.webp" width="200" height="200">
            <img src="imagens/lyor_talheres.webp" width="200" height="200">
            <img src="imagens/TABUAS_1.webp" width="200" height="200">
            <br>
            <img src="imagens/wolff-porta-retratos-1.jpg" width="200" height="200">
            <img src="imagens/lyor_decor_03 (1).webp" width="200" height="200">
            <img src="imagens/decor-lyor-01.webp" width="200" height="200">
            <img src="imagens/lyor-copos-canecas.webp" width="200" height="200">

        </div>
    </section>

    <section class="sessao-plantas">
        <div class="plantas">
            <h2>Plantas e Arranjos</h2>
            <p>Grande variedade de plantas e arranjos para decorar o interior da sua casa ou seu jardim</p>

            

        </div>
    </section>


    <footer>
        


    </footer>
</body>
</html>